@model parafia2.Models.DataLayer.Msze

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Msze</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMszy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMszy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KsiadzNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KsiadzNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinistrantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinistrantNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
